:root {
  --text-color: #37435b;
  --white-color: #ffffff;

  --primary-color: #e5194a;
  --secondary-color: #00a0d4;
  --white-color: #ffffff;
}
html,
body {
  font-family: "Poppins", sans-serif;
}
ul li a {
  color: var(--text-color) !important;
}
a {
  color: var(--text-color);
}
p {
  color: var(--text-color);
  font-weight: 300;
}
.header {
  background-color: var(--text-color);
  color: var(--white-color);
}
.header p {
  font-size: 12px;
  color: var(--white-color);
}
.navbar-toggler:focus {
  box-shadow: none;
}
.tag-line {
  display: inline-block;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;

  margin: 0;
}
.tag-line::before {
  content: "";
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translateY(-50%);

  width: 125px;
  height: 2px;
  background: var(--text-color);
}
.heading {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary-color);

  margin: 0;
}
/* === Banner === */
.banner {
  position: relative;
}
.banner .banner-content {
  width: auto;
  position: absolute;

  left: 0;
  bottom: 0;
}
.banner .banner-content h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;

  color: #fff;
}
.banner .banner-content p {
  color: #fff;
}
/* === Banner === */
header {
  position: relative;
}
header .navbar-container {
  background: var(--white-color);
}

header .navbar-container .navbar-brand {
  width: auto;
  height: 56px;
  padding: 0;
}

header .navbar-container .navbar-brand img {
  height: 100%;
}
.services-container {
  background-color: var(--text-color);
  padding: 16px 0;
}
.services-container .item h6 {
  margin: 0;
  color: var(--white-color);
  font-size: 14px;
  text-align: center;
}
.services-slides {
  mask-image: linear-gradient(
    to right,
    transparent,
    var(--text-color) 10% 90%,
    transparent
  );
}
.services-slides .owl-stage {
  display: flex;
  align-items: center;
  transition-timing-function: linear !important;
}

.slider-container .carousel-indicators {
  justify-content: end;
  margin-bottom: 2rem;
}
.slider-container .carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  opacity: 1;
  border: 4px solid var(--white-color);
  background: var(--white-color);
  border-radius: 8px;
}
.slider-container .carousel-indicators .active {
  background: var(--primary-color);
  border-color: var(--primary-color);
}
.slider-container .carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 32%;
  transform: translateY(-50%);
  left: 15%;
  padding-top: 0;
  padding-bottom: 0;
  color: var(--white-color);
  text-align: left;
}
.slider-container .carousel-caption h5 {
  font-size: 64px;
  font-weight: 600;
}
.slider-container .carousel-caption p {
  color: var(--white-color);
}
/* === About us === */
.about {
  padding: 80px 0;
}
.about .container .row {
  flex-direction: column-reverse;
}
.about .img-container {
  width: 100%;
  height: 400px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
}
.about .img-container img {
  width: 100%;
}
.about .content-container {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about a {
  font-weight: 300;
  color: var(--light-golden-color);
  transition: all 0.3s linear;
}
.about a:hover {
  color: var(--primary-color);
  transform: translateX(5px);
}
/* === About us === */
/* === Services === */
.services {
  padding: 120px 0;
  background: var(--secondary-color);
}
.services .services-heading {
  margin-bottom: 65px;
}
.testimonials .tag-line,
.services .tag-line {
  display: inline-block;
  padding-right: 16px;
}
.testimonials .tag-line::before,
.services .tag-line::before {
  left: 100%;
  background: var(--white-color);
}
.testimonials .tag-line::before {
  background: var(--text-color);
}
.services .service-description {
  width: 75%;
  text-align: right;
  font-size: 18px;
  margin-left: auto;
  margin-top: 16px;
}

.services h3 {
  color: var(--light-golden-color);
}
.services p {
  color: var(--white-color);
}
.services .content-container {
  position: relative;
  background: #ffffff0f;
  border-radius: 20px;
  height: 420px;
}
.services .content-container .description {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  /* background: rgba(255, 255, 255, 0.705);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); */
}
.services .content-container .description .service-sub-heading {
  text-transform: uppercase;

  position: relative;
}
.services .content-container .description .service-sub-heading::before {
  content: "";
  position: absolute;
  right: -8px;
  top: -14px;
  transform: translateY(-50%);
  width: 32px;
  height: 48px;
  background: var(--white-color);
  border-radius: 20px;
  z-index: -1;
}
.service-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #fff; */
  width: 40px;
  height: 40px;
  background: var(--primary-color);
  padding: 16px;
  color: var(--white-color);
  border-radius: 50%;
  transform: rotate(45deg);
  transition: all 0.3s linear;
}
.service-btn:hover {
  transform: rotate(0deg);
  border-radius: 8px;
  background: var(--white-color);
}

.service-btn .fa-solid {
  line-height: 0px;
}
.services .owl-carousel .owl-dots {
  position: absolute;
  bottom: -40px;
  right: 0;
}
.services .owl-carousel .owl-dots button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 8px;

  background: var(--white-color);
}
.services .owl-carousel .owl-dots button.active {
  background: var(--primary-color);
}
/* === Services === */
/* === Testimonials === */
.testimonials {
  padding: 120px 0;
}

.testimonials .sub-description {
  width: 100%;
}
.testimonials .owl-carousel .owl-item img {
  width: 50px;
  height: 50px;
  background: var(--text-color);
  border-radius: 50%;
  padding: 6px;
  margin-bottom: 12px;
}
.testimonials .owl-carousel .owl-item h6 {
  margin: 0;
}
.testimonials .owl-carousel .owl-item .description {
  position: relative;
  padding: 40px;
}
.testimonials .owl-carousel .owl-item .description::before,
.testimonials .owl-carousel .owl-item .description::after {
  font-family: "bootstrap-icons";
  color: var(--text-color);
  position: absolute;
  font-size: 40px;
  font-weight: 900;
}

.testimonials .owl-carousel .owl-item .description::before {
  content: "\F6B0";
  top: 0;
  left: 0;
}
.testimonials .owl-carousel .owl-item .description::after {
  content: "\F6B0";
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}
.testimonials .owl-carousel .owl-nav {
  position: absolute;
  right: 0;
}
.testimonials .owl-carousel .owl-nav button {
  font-size: 40px;
  font-weight: 100;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: var(--text-color);
  margin: 0 8px;
  line-height: 0;
  color: var(--white-color);
}
/* === Testimonials === */
/* === Footer  === */
.footer {
  padding: 72px 0;
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.footer h5 {
  color: var(--text-color);
  text-transform: uppercase;
}
.footer .services_points p {
  margin: 8px;
  position: relative;
}
.footer .services_points p::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 50%;
  background: var(--white-color);
  border-radius: 0 50%;
}
.footer p,
.footer p.social_links a {
  color: var(--white-color);
}
.footer p.social_links a {
  margin: 0 16px;
}

/* === Footer  === */

/* === About us page === */
.about .sub-heading h4 {
  font-size: 24px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.aboutus-tag {
  background: var(--text-color);
  color: var(--white-color);
  padding: 80px 0;
}
.aboutus-tag .content h3 {
  font-size: 32px;
  color: var(--light-golden-color);
  text-transform: uppercase;
  text-align: center;
}
/* === About us page === */
/* ===Services page */
.accordion-button {
  background-color: var(--text-color);
}
.accordion-button:not(.collapsed) {
  background-color: var(--primary-color);
  box-shadow: none;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) > .serve-title h2 {
  color: var(--white-color) !important;
}
.accordion-button:not(.collapsed) > .serve-title::before {
  color: var(--white-color) !important;
}
.services-page {
  padding: 120px 0;
}
.services-page .serve .serve-title h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white-color);
}
.services-page .serve .serve-title {
  position: relative;
}
.services-page .serve .serve-title::before {
  position: absolute;
  /* content: "01"; */
  font-size: 60px;
  font-weight: 600;
  top: -35%;
  left: 0;
  opacity: 0.4;
  color: var(--white-color);
}
.services-page .serivce-item {
  margin: 80px 0;
  padding: 24px;
}
.services-page .serivce-item:nth-child(even) {
  background: var(--primary-color);
  border-radius: 20px;
}
.services-page .serve-title h2.even-title {
  color: var(--white-color);
}
.services-page .serve .serve-title.land-survey::before {
  content: "01";
}
.services-page .serve .serve-title.building-survey::before {
  content: "02";
}
.services-page .serve .serve-title.agriculture-land-survey::before {
  content: "03";
}
.services-page .serve .serve-title.topographics-survey::before {
  content: "04";
}
.services-page .serve .serve-title.grid-contour-survey::before {
  content: "05";
}
.services-page .serve .serve-title.building-coloumn-marking::before {
  content: "06";
}
.services-page .serve .serve-title.layout-preparation::before {
  content: "07";
}
.services-page .serve .serve-title.solar-panel-marking::before {
  content: "08";
}
.services-page .serve .serve-title.road-bridges-survey::before {
  content: "09";
}
.services-page .serve .serve-title.earth-work-qauntities::before {
  content: "10";
}
.services-page .serve .serve-title.canal-survey::before {
  content: "11";
}
.services-page .serve .serve-title.autocad-services::before {
  content: "12";
}
.services-page .image-container {
  position: relative;
}
.services-page .image-container img {
  width: 100%;
}
.services-page .image-container::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -16px;
  background: var(--text-color);
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 0 0 50% 0;
}

/* ===Services page */
/* ===Contact us === */
.contact {
  padding: 120px 0;
}
.contact .contact-heading {
  position: relative;
  text-align: center;
  margin-bottom: 80px;
}
.contact .contact-heading h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: 600;
  z-index: -1;
  opacity: 0.2;
  color: var(--secondary-color);
  text-transform: uppercase;
}
.contact .contact-heading h3 {
  font-size: 36px;
  color: var(--primary-color);
}
.contact h5,
.contact .content h5 {
  color: var(--primary-color);
}

.contact .contact-form .form-select,
.contact .contact-form .form-control {
  border: 1px solid var(--secondary-color) !important;
}
.contact .contact-form .form-control {
  color: var(--text-color) !important;
}
.contact .contact-form .form-select:focus,
.contact .contact-form .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(203, 164, 40, 0.3) !important;
}
.contact .contact-form textarea.form-control {
  height: auto !important;
}
.contact .contact-form .message-send-btn {
  padding: 16px 32px;
  border: 0;
  color: #fff;
  background: var(--secondary-color);
  border-radius: 8px;
  transition: all 0.3s linear;
}
.contact .contact-form .message-send-btn:hover {
  transform: translateY(5px);
}
.alert.alert-danger,
.alert.alert-success {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.branch {
  border: 1px solid var(--secondary-color);
  padding: 16px;
  border-radius: 20px;
  margin-bottom: 16px;
}
/* ===Contact us === */

@media (min-width: 768px) {
  /* ===Banner === */
  .banner .banner-content {
    left: 10%;
    bottom: 24px;
  }
  .banner .banner-content h2 {
    font-size: 40px;
  }
  /* ===Banner === */
  .heading {
    font-size: 36px;
  }

  .slider-container .carousel-indicators [data-bs-target] {
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }

  .tag-line::before {
    left: -30%;
  }
  /* ===About us ===*/
  .about {
    padding: 160px 0;
  }
  .about .content-container {
    width: 75%;
    margin-bottom: 0;
  }
  .about .container .row {
    flex-direction: row;
  }
  .about .img-container {
    width: 75%;
    height: auto;
  }
  .about .img-container img {
    width: auto;
  }
  /* ===About us === */
  /* ===Services === */
  .services .service-description {
    margin-top: 0;
  }
  /* ===Services ===*/

  /* ===Testimonials us ===*/
  .testimonials .sub-description {
    width: 80%;
  }
  /* ===Testimonial us ===*/
  /*=== About us page  */
  .about .sub-heading h4 {
    font-size: 40px;
  }
  .aboutus-tag .content h3 {
    font-size: 40px;
  }
  /*=== About us page  */
  /* ===services page === */
  .services-page .serve .serve-title::before {
    top: -35%;
  }
  .services-page .image-container img {
    width: auto;
  }
  /* ===services page === */
  /* ===contact us page === */
  .branch {
    margin-bottom: 0;
  }
  .contact .contact-heading h1 {
    font-size: 80px;
  }
  .alert.alert-danger,
  .alert.alert-success {
    width: 50%;
  }
  /* ===contact us page ===*/
}
