:root {
  --light-blue-color: #8ebece;
  --golden-dark-color: #8d6914;
  /* --light-golden-color: #c6a325; */
  --light-golden-color: #cba228;
  --text-color: #37435b;
  --white-color: #ffffff;
}
html,
body {
  font-family: "Poppins", sans-serif;
}
ul li a {
  color: var(--text-color) !important;
}
a {
  color: var(--text-color);
}
p {
  color: var(--text-color);
  font-weight: 300;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.tag-line {
  display: inline-block;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;

  margin: 0;
}
.tag-line::before {
  content: "";
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translateY(-50%);

  width: 125px;
  height: 2px;
  background: var(--text-color);
}
.heading {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--light-blue-color);

  margin: 0;
}
/* === Banner === */
.banner {
  position: relative;
}
.banner .banner-content {
  width: auto;
  position: absolute;

  left: 0;
  bottom: 0;
}
.banner .banner-content h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;

  color: #fff;
}
.banner .banner-content p {
  color: #fff;
}
/* === Banner === */
header {
  position: relative;
}
header .navbar-container {
  background: var(--white-color);
}

header .navbar-container .navbar-brand {
  width: auto;
  height: 75px;
  padding: 0;
}

header .navbar-container .navbar-brand img {
  height: 100%;
}
.slider-container .carousel-indicators {
  justify-content: end;
}
.slider-container .carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  opacity: 1;
  border: 4px solid var(--white-color);
  background: var(--white-color);
  border-radius: 8px;
}
.slider-container .carousel-indicators .active {
  background: var(--light-blue-color);
  border-color: var(--light-blue-color);
}
.slider-container .carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 32%;
  transform: translateY(-50%);
  left: 15%;
  padding-top: 0;
  padding-bottom: 0;
  color: var(--white-color);
  text-align: left;
}
.slider-container .carousel-caption h5 {
  font-size: 64px;
  font-weight: 600;
}
.slider-container .carousel-caption p {
  color: var(--white-color);
}
/* === About us === */
.about {
  padding: 80px 0;
}
.about .container .row {
  flex-direction: column-reverse;
}
.about .img-container {
  width: 100%;
  height: 400px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
}
.about .img-container img {
  width: 100%;
}
.about .content-container {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about a {
  font-weight: 300;
  color: var(--light-golden-color);
  transition: all 0.3s linear;
}
.about a:hover {
  color: var(--light-blue-color);
  transform: translateX(5px);
}
/* === About us === */
/* === Services === */
.services {
  padding: 120px 0;
  background: var(--text-color);
}
.services .services-heading {
  margin-bottom: 65px;
}
.testimonials .tag-line,
.services .tag-line {
  display: inline-block;
  padding-right: 16px;
}
.testimonials .tag-line::before,
.services .tag-line::before {
  left: 100%;
  background: var(--white-color);
}
.testimonials .tag-line::before {
  background: var(--text-color);
}
.services .service-description {
  width: 75%;
  text-align: right;
  font-size: 18px;
  margin-left: auto;
  margin-top: 16px;
}

.services h3 {
  color: var(--light-golden-color);
}
.services p {
  color: var(--white-color);
}
.services .content-container {
  position: relative;
  background: #ffffff0f;
  border-radius: 20px;
  height: 420px;
}
.services .content-container .description {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  /* background: rgba(255, 255, 255, 0.705);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); */
}
.services .content-container .description .service-sub-heading {
  text-transform: uppercase;

  position: relative;
}
.services .content-container .description .service-sub-heading::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);

  width: 60px;
  height: 125%;
  background: var(--light-blue-color);
  z-index: -1;
}
.service-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #fff; */
  width: 40px;
  height: 40px;
  background: var(--light-blue-color);
  padding: 16px;
  color: var(--text-color);
  border-radius: 50%;
  transform: rotate(45deg);
  transition: all 0.3s linear;
}
.service-btn:hover {
  transform: rotate(0deg);
  border-radius: 8px;
  background: var(--white-color);
}

.service-btn .fa-solid {
  line-height: 0px;
}
.services .owl-carousel .owl-dots {
  position: absolute;
  bottom: -40px;
  right: 0;
}
.services .owl-carousel .owl-dots button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 8px;

  background: var(--white-color);
}
.services .owl-carousel .owl-dots button.active {
  background: var(--light-blue-color);
}
/* === Services === */
/* === Testimonials === */
.testimonials {
  padding: 120px 0;
}

.testimonials .sub-description {
  width: 100%;
}
.testimonials .owl-carousel .owl-item img {
  width: 50px;
  height: 50px;
  background: var(--text-color);
  border-radius: 50%;
  padding: 6px;
  margin-bottom: 12px;
}
.testimonials .owl-carousel .owl-item h6 {
  margin: 0;
}
.testimonials .owl-carousel .owl-item .description {
  position: relative;
  padding: 40px;
}
.testimonials .owl-carousel .owl-item .description::before,
.testimonials .owl-carousel .owl-item .description::after {
  font-family: "bootstrap-icons";
  color: var(--text-color);
  position: absolute;
  font-size: 40px;
  font-weight: 900;
}

.testimonials .owl-carousel .owl-item .description::before {
  content: "\F6B0";
  top: 0;
  left: 0;
}
.testimonials .owl-carousel .owl-item .description::after {
  content: "\F6B0";
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}
.testimonials .owl-carousel .owl-nav {
  position: absolute;
  right: 0;
}
.testimonials .owl-carousel .owl-nav button {
  font-size: 40px;
  font-weight: 100;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: var(--text-color);
  margin: 0 8px;
  line-height: 0;
  color: var(--white-color);
}
/* === Testimonials === */
/* === Footer  === */
.footer {
  padding: 72px 0;
  background-color: var(--text-color);
  color: var(--white-color);
}
.footer h5 {
  color: var(--light-golden-color);
  text-transform: uppercase;
}
.footer p,
.footer p.social_links a {
  color: var(--white-color);
}
.footer p.social_links a {
  margin: 0 16px;
}

/* === Footer  === */

/* === About us page === */
.about .sub-heading h4 {
  font-size: 24px;
  text-transform: uppercase;
  color: var(--light-blue-color);
}

.aboutus-tag {
  background: var(--text-color);
  padding: 80px 0;
}
.aboutus-tag .content h3 {
  font-size: 32px;
  color: var(--light-golden-color);
  text-transform: uppercase;
  text-align: center;
}
/* === About us page === */
/* ===Services page */
.services-page {
  padding: 120px 0;
}
.services-page .serve .serve-title h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: var(--light-blue-color);
}
.services-page .serve .serve-title {
  position: relative;
}
.services-page .serve .serve-title::before {
  position: absolute;
  /* content: "01"; */
  font-size: 72px;
  font-weight: 600;
  top: -40%;
  left: 0;
  opacity: 0.2;
  color: var(--light-golden-color);
}
.services-page .serivce-item {
  margin: 80px 0;
  padding: 24px;
}
.services-page .serivce-item:nth-child(even) {
  background: var(--light-blue-color);
  border-radius: 20px;
}
.services-page .serve-title h2.even-title {
  color: var(--white-color);
}
.services-page .serve .serve-title.visit-visa::before {
  content: "01";
}
.services-page .serve .serve-title.umrah-package::before {
  content: "02";
}
.services-page .serve .serve-title.holiday-package::before {
  content: "03";
}
.services-page .serve .serve-title.ticket-reservation::before {
  content: "04";
}
.services-page .serve .serve-title.transportation::before {
  content: "05";
}
.services-page .serve .serve-title.hotel-booking::before {
  content: "06";
}
.services-page .image-container {
  position: relative;
}
.services-page .image-container img {
  width: 100%;
}
.services-page .image-container::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -16px;
  background: var(--text-color);
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 0 0 50% 0;
}

/* ===Services page */

@media (min-width: 768px) {
  /* ===Banner === */
  .banner .banner-content {
    left: 10%;
    bottom: 24px;
  }
  .banner .banner-content h2 {
    font-size: 40px;
  }
  /* ===Banner === */
  .heading {
    font-size: 36px;
  }

  .slider-container .carousel-indicators [data-bs-target] {
    width: 100px;
    height: 75px;

    border: 4px solid var(--light-blue-color);
  }
  .slider-container .carousel-indicators .active {
    /* border: 4px solid #0a465d; */
    border: 4px solid var(--light-golden-color);
  }
  .slider-container .carousel-indicators .slider-01-indicator {
    background-image: url("../images/hotels-mini.jpg");
  }
  .slider-container .carousel-indicators .slider-02-indicator {
    background-image: url("../images/curise-mini.jpg");
  }
  .slider-container .carousel-indicators .slider-03-indicator {
    background-image: url("../images/hotel_booking_mini.jpg");
  }
  .tag-line::before {
    left: -30%;
  }
  /* ===About us ===*/
  .about {
    padding: 160px 0;
  }
  .about .content-container {
    width: 75%;
    margin-bottom: 0;
  }
  .about .container .row {
    flex-direction: row;
  }
  .about .img-container {
    width: 75%;
    height: auto;
  }
  .about .img-container img {
    width: auto;
  }
  /* ===About us === */
  /* ===Services === */
  .services .service-description {
    margin-top: 0;
  }
  /* ===Services ===*/

  /* ===Testimonials us ===*/
  .testimonials .sub-description {
    width: 80%;
  }
  /* ===Testimonial us ===*/
  /*=== About us page  */
  .about .sub-heading h4 {
    font-size: 40px;
  }
  .aboutus-tag .content h3 {
    font-size: 40px;
  }
  /*=== About us page  */
  /* ===services page === */
  .services-page .serve .serve-title::before {
    top: -70%;
  }
  .services-page .image-container img {
    width: auto;
  }
  /* ===services page === */
}
